.board{
    display:flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}
.board:last-child{
    border-bottom: none;
}

.board-row{
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

.board-row:last-child{
    border-bottom: none;
}